@use "../libs/functions";
@use "../libs/skel";



/* Footer */

#footer {
  @include skel.vendor(
    'transition',
    (
      'transform #{functions.duration(article)} ease-in-out',
      'filter #{functions.duration(article)} ease-in-out',
      'opacity #{functions.duration(article)} ease-in-out'
    )
  );
  width: 100%;
  max-width: 100%;
  margin-top: 3rem;
  text-align: center;

  .copyright {
    letter-spacing: functions.font(letter-spacing);
    font-size: 0.5rem;
    opacity: 0.75;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .body.is-article-visible & {
    @include skel.vendor('transform', 'scale(0.95)');
    // @include vendor('filter', 'blur(0.1rem)');
    opacity: 0;
  }

  .body.is-loading & {
    opacity: 0;
  }
}
