@use '../libs/functions';
@use '../libs/mixins';
@use '../libs/skel';

/* Header */

#header {
  @include skel.vendor('display', 'flex');
  @include skel.vendor('flex-direction', 'column');
  @include skel.vendor('align-items', 'center');
  @include skel.vendor(
    'transition',
    (
      'transform #{functions.duration(article)} ease-in-out',
      'filter #{functions.duration(article)} ease-in-out',
      'opacity #{functions.duration(article)} ease-in-out'
    )
  );
  background-image: -moz-radial-gradient(
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 55%
  );
  background-image: -webkit-radial-gradient(
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 55%
  );
  background-image: -ms-radial-gradient(
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 55%
  );
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 55%
  );
  max-width: 100%;
  text-align: center;

  > * {
    @include skel.vendor(
      'transition',
      'opacity #{functions.duration(article)} ease-in-out'
    );
    position: relative;
    margin-top: 3.5rem;
  }

  > :first-child {
    margin-top: 0;
  }

  .logo {
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border-radius: 100%;

    .icon {
      &:before {
        font-size: 2rem;
      }
    }
  }

  .content {
    max-width: 100%;

    .inner {
      @include skel.vendor(
        'transition',
        (
          'max-height #{functions.duration(intro)} ease',
          'padding #{functions.duration(intro)} ease',
          'opacity #{functions.duration(article)} ease-in-out'
        )
      );
      @include skel.vendor('transition-delay', '0.25s');
      padding: 3rem 2rem;
      max-height: 40rem;
      overflow: hidden;

      > :last-child {
        margin-bottom: 0;
      }
    }

    .subhead {
      text-transform: uppercase;
      letter-spacing: functions.font(letter-spacing);
      font-size: 0.9rem;
      line-height: 2;
      opacity: 0.7;
      margin-bottom: 0.25rem;
    }

    .tagline {
      text-transform: uppercase;
      letter-spacing: functions.font(letter-spacing-heading);
      font-size: 0.85rem;
      font-weight: functions.font(weight-bold);
      line-height: 1.6;
      color: functions.palette(accent);
      margin-bottom: 0;
    }

    .byline {
      text-transform: uppercase;
      letter-spacing: functions.font(letter-spacing);
      font-size: 0.75rem;
      line-height: 2;
      opacity: 0.6;
      margin-bottom: 0;
    }
  }

  nav {
    ul {
      @include skel.vendor('display', 'flex');
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      gap: 0.5rem;
      justify-content: center;

      li {
        padding-left: 0;

        button,
        a {
          @include mixins.nav-item;

          text-decoration: none;
        }
      }
    }

    &.use-middle {
      &:after {
        display: none;
      }

      ul {
        li {
          &.is-middle {
            border-left: 0;
          }
        }
      }
    }
  }

  .body.is-article-visible & {
    @include skel.vendor('transform', 'scale(0.95)');
    // @include vendor('filter', 'blur(0.1rem)');
    opacity: 0;
  }

  .body.is-loading & {
    > * {
      opacity: 0;
    }

    // @include vendor('filter', 'blur(0.125rem)');

    .content {
      .inner {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
      }
    }
  }

  @include skel.breakpoint(medium) {
    .content {
      p {
        br {
          display: none;
        }
      }
    }
  }

  @include skel.breakpoint(small) {
    > * {
      margin-top: 2rem;

      &:before {
        top: calc(-2rem - 1px);
        height: calc(2rem + 1px);
      }
    }

    .logo {
      width: 4.75rem;
      height: 4.75rem;
      line-height: 4.75rem;

      .icon {
        &:before {
          font-size: 1.75rem;
        }
      }
    }

    .content {
      .inner {
        padding: 2.5rem 1rem;
      }

      p {
        line-height: 1.875;
      }
    }
  }

  @include skel.breakpoint(xsmall) {
    padding: 1.5rem 0;

    .content {
      .inner {
        padding: 2.5rem 0;
      }
    }

    nav {
      ul {
        @include skel.vendor('flex-direction', 'column');
        min-width: 10rem;
        max-width: 100%;

        li {
          border: none;

          &:first-child {
            border: none;
          }

          button,
          a {
            height: 3rem;
            line-height: 3rem;
            min-width: 0;
            width: 100%;
            border: none;
          }
        }
      }

      &.use-middle {
        &:after {
          display: none;
        }
      }
    }
  }
}
